.app{
  margin-left:200px;
}

.content-tweet {
  font-family: Georgia, Cambria, times new roman, Times, serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  margin-bottom: 1.25rem;
  /* margin-left: 200px; */
  word-wrap: break-word;
  color: #000;
  cursor: pointer;
}

.tweet-container {
  transition: 0.3s;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;

}
.tweet-container :hover {
  background-color: rgba(230, 230, 242, 0.982);
  opacity: 0.8;
  border-radius: 5px;
}

.card-container {
  height: 100vh;
  /* width: 100vw; */
  /* max-height: 800px;
  max-width: 1280px; */
  

  min-height: 600px;
  min-width: 500px;
  justify-content: space-around;

  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin: 50px;
  margin-left: 200px;
  height: 200px;
 
  /* position: relative; */
}

/* Float four columns side by side */
.column {
  /* float: left;
    width: 25%;
    padding: 0 10px; */
  /* display: flex; */
  flex-wrap: wrap;
  float: left;
}

.card {
  /* Style the counter cards */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 40px 0 rgb(62 57 107 / 7%), 0 2px 9px 0 rgb(62 57 107 / 6%);
  /* width: 60%;
    height: 100%;  */

  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 13rem;
  height: 18rem;
  margin: 1rem 2rem;
  box-shadow: 3px 4px rgb(176, 145, 179);
}

.tweet-btn {
  color: #6c757d;
  border-color: #6c757d;
  background-color: transparent;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  /* float: left; */
  margin-top: 2.0rem;
}

.tweet-btn:hover {
  background-color: #6c757d;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.new-thread-input {
  padding: 10px;
  margin: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(201, 194, 194, 0.564);
}
.new-thread-input:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
label {
  display: block;
}
.comment-body {
  margin: 30px;
  background-color: #fafafa9f;
}
.new-comment {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.228);
  height: 80px;
}

div h3,
h5,
h6,
a {
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.user-name {
  font-size: 1.1rem;
  font-weight: 700;
  float: left;
  color: rgb(189, 184, 184);
}

.user-name:hover{
  background-color: #6c757d;
  color: white;
}


.thread-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.762);
}

.thread-description {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.762);
}

.delete-button{
    font-size: 1rem;
    text-align: center;
    color: rgb(138, 138, 138);
    background-color: white;
    border-color:rgb(185, 185, 185);
    width:1.5rem;   
    height: 1.5rem;
    float: right;
    border-radius: 20%;
    padding: 0px; 
    text-align:center; 
    vertical-align:middle;
    margin: auto;
}
.delete-button:hover {
    border-color: #a30000;
    background-color: rgb(255, 42, 42);
    color: rgb(252, 252, 252);
}

.newThread-btn{
  width: 10rem;
  height: 2.5rem;
  border-radius: 10vw;
  font-size: .8rem;
  text-decoration: none;
  font-weight: 700;
  background: #ba99d2;
  color: #fff;
  transition: all .2s ease;
  margin-bottom: 20px;
}

.newThread-btn:hover{
  transform: scale(1.1);
  background: #81579f;
  color: #fff;
}

.tweet-text{
  white-space: pre-wrap;
}



